#result{
    color: rgb(12, 1, 22);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 10%;font-weight: bold;

}
.box{
    margin:20% auto; 
    width:500px;
    height: 100px;
    padding:5px;
    background:#dbd0d493;
    border:3px solid rgb(0, 0, 0);
    text-align: justify;border-bottom-width: 5px;
    }
body{background-size:1500px 1000px;
    background-repeat: no-repeat;}
